<div class="page-content">

    <div class="page-header">
        <h1 class="text-align-center">Contact Us</h1>
    </div>

    <div class="flex-container">
        <div class="flex-item">
            <div>
                <div class="highlight">Got any thing to tell us?</div>
                <div class="sub-text">Leave us a message. We will get back to you.</div>
            </div>

            <div class="alert alert-success" role="alert" *ngIf="state.success">
                Your message has been sent. We will contact you soon.
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="state.error">
                Your message could not be sent. Please, try again.
            </div>

            <form [formGroup]="emailForm">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" [class.is-invalid]="name.touched && name.errors" id="name" formControlName="name" />
                        <div class="text-danger" *ngIf="name.touched && name.errors">
                            <small class="form-text">
                                This is a required field.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" class="form-control" [class.is-invalid]="email.touched && email.errors" id="email" formControlName="email" />
                        <div class="text-danger" *ngIf="email.touched && email.errors">
                            <small class="form-text" *ngIf="email.errors.email">
                                Enter a valid email address.
                            </small>
                            <small class="form-text" *ngIf="email.errors.required">
                                This is a required field.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="phonenumber">Contact no.</label>
                        <input type="tel" class="form-control" [class.is-invalid]="number.touched && number.errors" id="phonenumber" formControlName="number" numbers/>
                        <div class="text-danger" *ngIf="number.touched && number.errors">
                            <small class="form-text">
                                This is a required field.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" class="form-control" [class.is-invalid]="company.touched && company.errors" id="company" formControlName="company" />
                        <div class="text-danger" *ngIf="company.touched && company.errors">
                            <small class="form-text">
                                This is a required field.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="message">Message for us</label>
                        <textarea class="form-control" [class.is-invalid]="message.touched && message.errors" id="message" formControlName="message"></textarea>
                        <div class="text-danger" *ngIf="message.touched && message.errors">
                            <small class="form-text" *ngIf="message.errors.required">
                                This is a required field.
                            </small>
                            <small class="form-text" *ngIf="message.errors.maxlength">
                                Message cannot be longer than {{message.errors.maxlength.requiredLength}} characters.
                            </small>
                        </div>
                    </div>
                </div>
                <button *ngIf="!state.isSending" class="btn btn-primary" type="button" (click)="sendMessage($event)">Send Message</button>
                <button *ngIf="state.isSending" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Sending Email...
                </button>
            </form>
        </div>
    </div>

</div>