.flex-container .flex-item {
    flex: none;
    width: 60%;
}

.flex-container .highlight {
    font-size: 1.2rem;
    font-weight: 600;
}

.flex-container .sub-text {
    font-size: 1rem;
    margin-bottom: 5vh;
    opacity: 0.8;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    background: #8093f1;
    border-color: #8093f1;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #8093f1;
    border-color: #8093f1;
}

@media only screen and (max-width: 435px) {
    .flex-container .flex-item {
        width: 100%;
        padding: 10px;
    }
}