.menu-container img {
    height: 56px;
    padding: 5px;
    margin-left: 50px;
    object-fit: contain;
}

@media only screen and (max-width: 435px) {
    .menu-container img {
        display: none;
    }
}