<div class="container-head">
  <div class="menu-container opaque">
    <img *ngIf="currentPage!=='home'" src="assets/images/next-tech-point.png"/>
    <ul id="nav-menu">
      <li class="menu" (click)="showHideMenu()"><div><span class="icon icon-menu"></span></div></li>
      <li [class.active]="currentPage === 'home'"><a href="#home">Home</a></li>
      <li [class.active]="currentPage === 'services'"><a href="#services">Services</a></li>
      <li [class.active]="currentPage === 'career'"><a href="#career">Career</a></li>
      <li [class.active]="currentPage === 'contactus'"><a href="#contactus">Contact Us</a> </li>
    </ul>
  </div>
  <div class="page" id="home">
    <home></home>
  </div>
  <div class="page" id="services">
    <services></services>
  </div>
  <div class="page" id="career">
    <career></career>
  </div>
  <div class="page" id="contactus">
    <contact-us></contact-us>
  </div>
</div>