<div class="page-content">
    <div class="page-header">
        <h1 class="text-align-center">Career</h1>

        <div class="content">
            <div class="text-align-center">
                We are looking for motivated and skilled developers in following technologies.
            </div>
            <div class="text-align-center">
                Contact us with your interest.
            </div>
            <div class="text-align-center">
                Send your resume to <br> 
                <a href="mailto:jobs@nexttechpoint.com">jobs@nexttechpoint.com</a>
            </div>
        </div>
    </div>

    <div class="page-details">

        <div class="flex-container">
            <div class="flex-item">
                <div>
                    <img src="assets/images/dot-net-icon.png" />
                </div>
            </div>

            <div class="flex-item">
                <div>
                    <img src="assets/images/angular-js.png" />
                </div>
            </div>
        </div>

    </div>
</div>