.page-header {
    margin-top: 8rem;
}

.page-header .content {
    padding-top: 1.2rem;
}

.page-details {
    margin: 2em 5em;
}

.flex-container {
    justify-content: center;
}

.flex-item {
    padding: 0;
    margin: 0;
    flex: 1;
    max-width: 220px;
    text-align: center;
}

.flex-item img {
    margin-bottom: 16px;
    width: 200px;
    height: 100px;
    object-fit: contain;
}

@media only screen and (max-width: 435px) {
    .page-details {
        margin: 0 18px;
    }
}