<div class="page-content">
    <div class="page-header">
        <h1 class="text-align-center">Services</h1>

        <div class="content">
            <div class="text-align-center">
                We provide high quality and cost effective development services.
            </div>
        </div>
    </div>

    <div class="page-details">

        <div class="flex-container">
            <div class="flex-item">
                <div>
                    <img src="assets/images/web-technology.png" />
                </div>
                <div>
                    Web <br> Development
                </div>
            </div>

            <div class="flex-item">
                <div>
                    <img src="assets/images/mobile-technology.png" />
                </div>
                <div>
                    Mobile <br> Development
                </div>
            </div>
        </div>

    </div>