/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.container-head {
    width: 100%;
    height: auto;
}

.page {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/bg-logo.png');
    height: 100vh;
    color: #fff;
    transition: 3s;
}

.header h1 {
    text-align: center;
    font-size: 4em;
}

.header h4 {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.menu-container {
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
    z-index: 1;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.icon-menu {
    background: url('/assets/images/menu.png') no-repeat;
    background-size: 100% 100%;
}

.menu-container ul {
    display: block;
    list-style: none;
    width: auto;
    margin: 15px;
    float: right;
}

.menu-container ul li {
    display: inline;
    color: #fff;
    padding: 1rem;
    transition: all ease-in-out 0.6s;
    font-size: 0.9rem;
}

.menu-container ul li.menu {
    display: none;
}

.menu-container ul li a {
    text-decoration: none;
    color: inherit;
}

.menu-container ul li.active {
    font-size: 1.2rem;
}

.opaque {
    background: #8093f1;
    animation: fadeingreen 0.15s linear;
}

.page .page-content {
    padding-top: 1.8rem;
}

.page .page-header {
    margin-top: 2rem;
    margin-bottom: 0px;
}

.page .page-header h1{
    margin-bottom: 0px;
    font-size: 1.8rem;
}

.text-align-center {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.flex-container .flex-item {
    flex: 1;
    margin: 10px;
}

.flex-container .flex-item h4 {
    font-size: 1.2rem;
    font-weight: 700
}

.full-height {
    height: 100vh;
}

form {
    width: 100%;
}

form .row {
    display: flex;
    flex-wrap: wrap;
}

form .row .form-group {
    flex: 1;
    min-width: 250px;
    margin-left: 10px;
}

form textarea {
    min-height: 150px;
}

.vertical-space {
    height: 50px;
}

.form-control:focus {
    border-color: #8093f1;
}

.btn-primary {
    background-color: #8093f1;
    border-color: #8093f1;
}

.btn-primary:hover {
    background-color: #8093f1;
    border-color: #8093f1;
}


@media only screen and (max-width: 770px) {

    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 435px) {
    .opaque {
        animation: none;
    }

    .menu-container {
        background: #8093f1;
        padding-left: 20px;
    }

    .menu-container ul {
        display: block;
        padding-left: 0;
        width: 100%;
        max-height: 24px;
    }

    .menu-container ul li {
        display: block;
        padding: 0px;
    }

    .menu-container ul li.menu {
        display: block;
        float: right;
    }

    .menu-container ul li{
        display: none;
    }

}

@media only screen and (max-width: 435px) {
    .menu-container ul.responsive li{
        display: block;
        padding: 10px;
    }

    .menu-container ul.responsive li.menu{
        padding: 0px;
    }
}

@keyframes fadeingreen {
    from { background: none; }
    to   { background: #446655; }
}

/* Firefox < 16 */
@-moz-keyframes fadeingreen {
    from { background: none; }
    to   { background: #446655; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeingreen {
   from { background: none; }
    to   { background: #446655; }
}

/* Internet Explorer */
@-ms-keyframes fadeingreen {
    from { background: none; }
    to   { background: #446655; }
}

/* Opera < 12.1 */
@-o-keyframes fadeingreen {
    from { background: none; }
    to   { background: #446655; }
}