.flex-container {
    background: #8093f1;
}

.margin-top {
    display: block;
    margin-top: 10vh;
}

p {
    color: #446655;
    opacity: 0.8;
}

ul{
    padding-left: 20px;
    color: #446655;
    opacity: 0.8;
}

.container-fluid {
    padding-left: 5em;
    padding-right: 5em;
}

.logo-container {
    display: inline;
}

.logo-container img {
    display: block;
    margin: 0 auto;
    width: 20vw;
}

.logo-container h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ffffffff;
    font-weight: bolder;
}

@media only screen and (max-width: 435px) {

    .margin-top {
        display: block;
        margin-top: 5vh;
    }

    .container-fluid {
        padding-left: 18px;
        padding-right: 18px;
    }

    .flex-container .flex-item {
        margin: 0;
    }

    .logo-container img {
        width: 60vw;
    }
}