<div class="page-content">

    <div class="flex-container full-height">
        <div class="logo-container">
            <img src="assets/images/next-tech-point.png" />
            <div>
                <h3>Your Next Technology Starts Here</h3>
            </div>
        </div>
    </div>
    
</div>